/* --- resets --- */

html {
  font: 100%/1.15 sans-serif; /* fontsize/pixels font */ /* 1.15 common among browsers */
  /* serif, sans-serif, cursive, monospace, fastasy*/
}

body,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
ol,
ul {
margin-top: 0;
margin-bottom: 0;
}

dd {
  margin-left: 0;
  line-height: 1.5;
}

h1 {
  font-size: 2.8em;
  line-height: .8;
  text-transform: uppercase;
}

.list ul{
  margin-top: .5em;
  padding-top: 0em;
}

li {
  margin-top: .5em;
}

.paragraph p{

}

p {
  line-height: 1.5em;
  margin-top: 1em;
  font-size: 0.8em;
}

ol,
ul {
  padding-left: 2.15em;
}

section,
ul,
ol {
  padding-top: 1em;
}

/* --- flexible images --- */

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

figcaption {
  text-align: right;
}

/* --- my styles --- */

body {
  font-family: Georgia, "Times New Roman", serif;
  /* font-family: "Trebuchet MS", Arial, Verdana, Tahoma, sans-serif; */
  background-color: #eae7e2;
  max-width: 48rem;
  padding: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

/* max-width: 48rem; rem= 16 pixels */

/* --- breakpoint for wider screens --- */

@media (min-width: 48em) {

  body {
    font-size: 135%;
  }

  figure.hero {
    max-width: 50%;
    padding-left: 6.15em;
    padding-top: 1.15em;
  }
  figcaption {
  font-size: 0.8em;
  }

}
/* @rule (media block: em) */
